.login {
    color: black;
    width: 100px;
    height: 30px;
    display: auto;
    font-display: flex;
    background-color: aqua;
    border-radius: 5px;
}
.logout {
    color: black; 
    width: 100px;
    height: 30px;
    display: auto;
    font-display: flex;
    background-color: aquamarine;
    border-radius: 5px;
}